<footer class="Footer p-3 d-flex flex-column text-center">
    <div class="container">
      <ul class="list-unstyled d-flex justify-content-around align-items-center u-flowText SocialMedia">
        <li>
          <a href="https://www.facebook.com/JohPetWalkers" target="_blank">
            <i class="fab fa-facebook fa-2x fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/isaerlmacha" target="_blank">
            <i class="fab fa-twitter fa-2x fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/leono34/Doglover_Bootstrap" target="_blank">
            <i class="fab fa-github fa-2x fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=hsewheV62i4" target="_blank">
            <i class="fab fa-youtube fa-2x fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram fa-2x fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://wa.me/51973436020" target="_blank">
            <i class="fab fa-whatsapp fa-2x fa-fw"></i>
          </a>
        </li>
      </ul>
      <small class="text-white"></small>
    </div>
  </footer>

