
 <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-caption">
          <article class="AboutInfo u-flowText">
            <h2>¿Necesitas un Paseador de Mascota de confianza?</h2>
            <p>Elige un paseador de confianza cerca de ti.</p>
            <p>Nuestros paseadores son amantes de los animales con experiencia.</p>
          </article>
        </div>
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{ url_for('static',filename='img/pet8.png') }}" alt="Acerca 1">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static',filename='img/pet7.jpg') }}" alt="Acerca 2">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static',filename='img/p5.jpg') }}" alt="Acerca 3">
        </div>
         <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static',filename='img/p3.jpg') }}" alt="Acerca 3">
        </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>