<section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5"> Testimonios de Usuarios</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static',filename='img/testimonials-3.jpg') }}" alt="">
            <h5>Sandra E.</h5>
            <p class="font-weight-light mb-0">La verdad  quedamos satisfechos con el trabajo y el trato recibido fue excelente, mucha dedicación y amor para mis mascotas.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static',filename='img/testimonials-2.jpg') }}" alt="">
            <h5>Raul S.</h5>
            <p class="font-weight-light mb-0">Lo mejor es lo bien que Dogy se lo ha pasado, ha corrido, jugado, ha conocido a otros perros y ha disfrutado ...</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static',filename='img/testimonials-1.jpg') }}" alt="">
            <h5>Roxana W.</h5>
            <p class="font-weight-light mb-0">Un buen servicio y tratan a nuestros engreidos con mucho amor y los dejan bellos. Recomendadisimo!!</p>
          </div>
        </div>
      </div>
    </div>
  </section>