{% extends 'layout.html' %}
{% block body %}
{% include 'includes/navbar2.html' %}

<h1 class="pt-5 text-center bg-light text-primary  " > Nuestros Clientes</h1>
 <section class="testimonials text-center bg-light  d-flex pt-2 pb-2 ">

    <div class="container col-lg-6 ">
        <h2> Nombres  </h2>
     <ul  class="list-group" >
         {% for c in clie %}
         <li class="list-group-item">
            <i class="fas fa-user"></i>  - {{ c.nombre}}  {{ c.apellido}}
         </li>
         {% endfor %}

     </ul>

 </div>
        <div class="container col-lg-6 ">
        <h2>  Dirección  </h2>
     <ul  class="list-group" >
         {% for c in clie %}
         <li class="list-group-item">
           {{ c.direccion}}  {{ c.apellido}}
         </li>
         {% endfor %}

     </ul>

 </div>
  </section>

{% endblock %}