

<div class="jumbotron text-center bg-light" style="margin-top: 80px; border-radius: 10px;">
    <h1>Registro Clientes</h1>
    <p>Aqui podrás registrarte para formar parte de los PetsLovers :)</p>
</div>
<div class="container p-3 my-3 bg-light text-black" style="padding-left: 15%; padding-right:15%; border-radius: 10px;">
    <h2>Comienza El Registro</h2>
    <form method="POST" action="" class="formulario">
        <div class="row">
            <div class="col">
                <div class="form-group">
                 
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                   
                </div>
            </div>
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
           
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
           
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
          
        </div>

        <p style="text-align:center;"><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
</div>